<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <div class="container" align="center">
  <h1>Register</h1>
  <hr>
  <p>Please fill in this form to create an account.</p>


  <label for="email"><b>Email :</b></label>
  <input type="text" placeholder="Enter Email" name="email" required><br>
  <br>
  <br>

  <label for="psw"><b>Password :</b></label>
  <input type="password" placeholder="Enter Password" name="psw" required><br>
  <br>
  <br>

  <label for="psw-repeat"><b>Repeat Password :</b></label>
  <input type="password" placeholder="Repeat Password" name="psw-repeat" required><br>
  <br>
  <br>

<button type="submit" class="registerbtn">Register</button>
</div>

<div class="container signin" align ="center">
<p>Already have an account? <a href="/login/">Sign in</a>.</p>
</div>
  </body>
</html>
